@using Mvc.WebUi.ViewModels;
@model FindMembersViewModel;

@{
    Layout = "_Layout";
    ViewData["Title"] = "Find members";
}

<div class="container d-flex">
      <div class="col-9">
        <main>
          <div class="col-12">
            <header>
              <div class="position-relative col-12">
                <div id="topHeaderBackground" class="z-minus position-absolute">
                  <div
                    style="opacity: 0.8;"
                    class="z-minus col-12 justify-content-end d-flex"
                  >
                    <img class="z-minus col-9" src="./backPizza.png" />
                  </div>
                </div>
              </div>
              <div class="col-12 z-1 mt-3">
                <div class="p-3">
                  <div class="mb-4">
                    <h1 class="z-1 t-lg t-bold text-white">Find members</h1>
                  </div>
                  <div>
                    <form asp-action="index" asp-controller="find" class="shadow form-dark form-lg col-6">
                      <div class="col">
                        <input
                            name="query"
                          class="t-semi-bold form-control me-0 pe-1"
                          type="search"
                          placeholder="Search any user"
                          aria-label="Search"
                        />
                      </div>
                      <button class="btn t-muted" type="submit">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="16"
                          height="16"
                          fill="currentColor"
                          class="bi bi-search"
                          viewBox="0 0 16 16"
                        >
                          <path
                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
                          />
                        </svg>
                      </button>
                    </form>
                  </div>
                  <div class="col-10 mt-3 d-flex flex-wrap">
                    @foreach(var tag in Model.SearchTags)
                    {
                        <div style="height: 33px;" class="me-1">
                            <a asp-action="index" asp-controller="find" asp-route-query="@tag.Name" class="t-tag">@tag.Name</a>
                        </div>
                    }                    
                  </div>
                </div>
              </div>
            </header>
            <div class="col-12 mt-1 ps-3 pe-3">
              
              <section>
                <div
                  class="mb-3 col-12 border-start border-top border-end radius-md"
                >
                  @foreach(var user in Model.Users)
                  {
                    <div
                    class="pt-3 pb-3 p-2 align-items-center border-bottom col-12 d-flex"
                  >
                    <div>
                      <a asp-action="@user.Guid" asp-controller="user">
                        <img
                          height="112"
                          width="112"
                          src="~/media/userAvatars/@user.UserAvatarImageName"
                          class="circle box-shadow"
                        />
                      </a>
                    </div>
                    <div class="ps-3 pe-3 text-break">
                      <a asp-action="@user.Guid" asp-controller="user" class="h3 t-xbold text-white">@user.UserName</a>
                      <div class="mt-2 col-12 d-flex flex-wrap">
                        @foreach(var userTag in user.Tags)
                        {
                        <div class="t-tag">
                          <span class="">@userTag.Name</span>
                        </div>
                        }                        
                      </div>
                    </div>
                  </div>                  
                  }
                </div>
              </section>
              

              <div class="d-flex">
                @foreach(var pageInfo in Model.Pages)
                {
                    <div class="me-1">
                        @if (pageInfo.IsActive)
                        {
                            <a disabled asp-action="index" asp-route-page="@pageInfo.NumberValue" class="disabled btn text-muted t-md t-semi-bold border">
                                @pageInfo.NumberValue
                            </a>
                        }
                        else
                        {
                            <a asp-action="index" asp-route-page="@pageInfo.NumberValue" class=" text-white btn t-md t-semi-bold border">
                                @pageInfo.NumberValue
                            </a>                    
                        }
                    </div>
                }
              </div>
            </div>
          </div>
        </main>
      </div>
      <div class="ps-3 pt-4 col">
        <aside>
          <div class="col-12 pt-2">
            <h3 class="t-lg t-bold t-muted">For your ideas</h3>
            <div class="ps-1 col-12 text-break">
              @foreach(var recommendUser in Model.RecommendUsers)
              {
                <a asp-action="@recommendUser.Guid" asp-controller="user">
                  <div class="mt-2 col-12 d-flex align-items-center">                
                  <img
                    src="~/media/userAvatars/@recommendUser.AvatarImageName"
                    height="33"
                    width="33"
                    class="circle shadow"
                  />                
                    <div class="ps-2">
                    <span class="t-semi-bold text-white t-md">@recommendUser.UserName</span>
                    </div>
                    </div>
                </a>
              }
            </div>
          </div>
          <div class="col-12 pt-2 mt-4">
            <h3 class="t-lg t-bold t-muted">You interesed</h3>
            <div style="max-width: 180px;" class="ps-1 pt-1 d-flex flex-wrap">
              <div class="col-12 d-flex flex-wrap">
                @foreach(var interestTag in Model.InterestTags)
                {
                    <div style="height: 33px;" class="me-1">
                        <a asp-action="index" asp-route-query="@interestTag.Name" class="t-tag">@interestTag.Name</a>
                    </div>
                }                                
              </div>
            </div>
          </div>
        </aside>
      </div>
    </div>